* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainTransition: all 0.3s linear;

body {
  font-family: "Roboto", sans-serif;
  background: $mainGreen;
  color: $mainBlack;
}
